# .env
api_id=12232332                                           # Замените на ваш API ID
api_hash='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'               # Замените на ваш API Hash
phone_number=+71234567890                                 # Ваш номер телефона для входа (если сессия новая)
